/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/03/2020, 10:29:11 AM
    Author     : brandonrodriguez
*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

body{
    background: #0c2461;
    padding:0px;
    margin: 0px;
}
.board{
    padding: 20px;
    text-align: center;
}
.tittle{
    margin-top: 15px;
    background-color: white;
    text-align: center;
    padding: 7px;
}

.cResult{
    margin-top: 15px;
    background-color: white;
    text-align: center;
    padding: 7px;
    width: 40%;
}

.cell{
    border:2px black solid;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer
}
.cellO{
    
    padding: 25px;
    background-color: #b71540;
    color:white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer
}

table{
    margin: auto
}

input[type=text] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border:2px black solid;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}

input[type=submit] {
    font-family: 'Roboto', sans-serif;
     font-size: 18px;
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
  color: black;
  padding: 10px 24px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
